.btn.btn-orange {
    color: white;
    background-color: orange;
    border-color: orange;
}

.btn.btn-orange:hover {
    color: white;
    background-color: darkorange;
    border-color: orange;
    transition: 0.25s;
}

.btn.btn-orange:active {
    color: white !important;
    background-color: grey !important;
    border-color: grey;
}